.page {
    margin: 0;
}

.page__header {
    height: 100%;
    width: 100%;
    margin-bottom: 80px;
}

.page__about {
    height: 100%;
    width: 100%;
    margin-bottom: 150px;
}

.page__skills {
    height: 100%;
    width: 100%;
    margin-bottom: 200px;
}

.page__experirence {
    height: 100%;
    width: 100%;
    margin-bottom: 200px;
}

.page__education {
    height: 100%;
    width: 100%;
    margin-bottom: 200px;
}

.page__services {
    height: 100%;
    width: 100%;
    margin-bottom: 180px;
}

.page__portfolio {
    height: 100%;
    width: 100%;
    margin-bottom: 175px;
}

.page__testimonials {
    height: 100%;
    width: 100%;
    margin-bottom: 140px;
}

.page__brands {
    height: 100%;
    width: 100%;
    margin-bottom: 140px;
}

.page__blogs {
    height: 100%;
    width: 100%;
    margin-bottom: 130px;
}

.page__contact-info {
    height: 100%;
    width: 100%;
}

.page__footer {
    height: 100%;
    width: 100%;
}

.page__section-title {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    line-height: 100%;
    display: block;
    text-align: center;
    font-weight: bold;
    margin-bottom: 85px;
}
